body {

  background-repeat: round;
  background-image: url("https://cdn.wallpapersafari.com/1/78/pjiXCR.jpg");
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.MuiInput-root {
  color: black !important;
}

a:-webkit-any-link {
  color:black;
}
.MuiTypography-h1{
  color:sandybrown;
}
.MuiTypography-body1 {
  color:sandybrown;
}
.MuiSvgIcon-root {
  color:sandybrown;
}
.MuiTypography-h1 {
  font-size: 3rem !important;
}
.MuiInputBase-input {
  background: sandybrown !important;
}
.rmdp-input {
  background-color: sandybrown;
  border-color: sandybrown !important;
}

.rmdp-calendar{
  background-color: black;
}

.rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: black !important;
  box-shadow: 0 0 3px sandybrown !important;
  color: sandybrown !important;
}

.rmdp-day, .rmdp-week-day {
  color:sandybrown !important;
}

.rmdp-header-values {
  color: sandybrown !important;
}
.rmdp-month-picker, .rmdp-year-picker {
  background-color: black !important;
}
